#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Your general CSS styles here */

/* Styles for larger screens (e.g., tablets and desktops) */
@media only screen and (min-width: 768px) {
  /* Add styles here that should apply to screens larger than or equal to 768px width */
}

/* Styles for smaller screens (e.g., phones, including iPhone) */
@media only screen and (max-width: 767px) {
  /* Add styles here that should apply to screens smaller than 768px width (including iPhone) */

  /* For example, you can adjust font sizes, paddings, margins, etc. to fit smaller screens better */
  body {
    font-size: 14px;
    
  }
  .container {
    padding: 10px;
  }
  /* ... and so on */
}


.card {
  padding: 2em;
}
/* 
.read-the-docs {
  color: #888;
} */

#img {
  text-align: center;
}

.navbar {
  color:black;
}

#a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 200vh; 
  background-color: #f5f5f5; 
}

.cycle-container {
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
} 

.phase {
  flex: 1;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.menstrual-phase {
  background-color: #FCE3E3;
}

.follicular-phase {
  background-color: #FCE6F0;
}

.ovulation-phase {
  background-color: #FCEAF5;
}

.luteal-phase {
  background-color: #ffddf1;
}

.heading {
  font-weight: bold;
}